:root{

    --geren-1:#f0fdf4;
    --geren-2:#dcfcef;
    --geren-3:#bbf7d0;
    --geren-4:#86efac;
    --geren-5:#4ade80;
    --geren-6:#22c553;
    --geren-7:#15803d;
    --geren-8:#166543;
    --geren-9:#5c6516;
}

:root{
    --garay-1:#eef0f3;
    --garay-2:#eceef2;
    --garay-3:#bbc3cf;
    --garay-4:#8896ab;
    --garay-5:#556987;
    --garay-6:#4d5f7a;
    --garay-7:#404f65;
    --garay-8:#333f51;
    --garay-9:#2a3342;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--garay-3g);

}
header{
    /* background-color: antiquewhite; */
    padding: 30px 10px;
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 6px #efdfdf;
    background-color: var(--garay-2);
    
}
.log{
    color: #2265d1;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    
}
.log img{
    width: 40px;
    height: 30px;
   align-items: center;
   border-radius: 10px;
   margin-top: 10px;
}


ul li{
 list-style: none;
}

ul li a{
    margin-left: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #333;

}
.home:hover{
    color: #333;
}
ul li a:hover{
    color: rgb(219, 175, 118);
    transition: all 0.1s;
}

section{
    padding: 40px 40px;
}

.hero{
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: 10px;
}
.hero {
   background-image:linear-gradient(rgba(91, 166, 247, 0.65),rgba(146, 119, 28, 0.65)), url(./image/back.jpg );

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 6px;

   line-height: 1.6;
   position: relative;
   
}


.ifno h1{
    margin: 10px 0px;
    font-size: 50px;
    color: whitesmoke;
    font-weight: 600;

}

.ifno p{
    margin-top: 20px;
    font-size: 24px;
    padding: 15px;
    color: aliceblue;
    font-weight: bold;
    
   

}


.btn_hero{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    margin-top: 40px;
   

}

.btn_hero1{
    padding: 18px 18px;
    background-color: #ffbf00;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    border: none;


}
.btn_hero1:nth-child(2){
        padding: 18px 18px;
    background-color:white;
    color: #333;
    font-size: 14px;
    border-radius: 8px;
    border: none;

}
.btn_hero1:hover{
    background-color: var(--garay-6);
    color: var(--garay-2);
     transition: ease-in-out 0.9s all;
}

/* ABOUT_CSS */

section .ABout_US{
    width: 100%;
    height: 100%;
    padding: 5% 0; 
    /* background-color:var(--garay-5); */
}

section.ABout_US div.parts{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: nowrap row;
    margin-bottom: 30px;
    padding: 0 10px;

}


section.ABout_US div.parts div.qaybe{
    width: calc(95% / 2);
    margin: 20px;

}

section.ABout_US div.parts div.qaybe.bidix{
    line-height: 1.6;
    padding: 10px;
}
section.ABout_US div.parts div.qaybe.bidix h3{
    font-size: 24px;
    color: var(--garay-7);
    font-weight: 600;
    margin-bottom: 20px;
}
section.ABout_US div.parts div.qaybe.bidix h1{
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;

}
section.ABout_US div.parts div.qaybe.bidix p{
    font-size: 15px;
    color: var(--garay-4);
}

section.ABout_US div.parts div.qaybe.bidix div.hero_btn {
    margin-top: 30px;

}

section.ABout_US div.parts div.qaybe.bidix div.hero_btn button{

    padding: 13px 25px;
    background-color: rgba(255, 234, 0, 0.884);
    border-radius: 8px;
    border: none;
    font-size: 17px;
    color: #333;

}
section.ABout_US div.parts div.qaybe.bidix div.hero_btn button:hover{
      background-color: var(--garay-6);
      color: var(--garay-1);
      transition: ease-in-out 0.9s all;
      
}
/* section informaiton */

section.informaion {
    width: 100%;
    height: 100%;
    padding: 5% 0; 



}
section.informaion div.parts_info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: nowrap row;
    margin-bottom: 30px;
    padding: 0 10px;
}
section.informaion div.parts_info div.parts{
    width: calc(95% / 2);
    margin: 10px;
}
section.informaion div.parts_info div.parts.image img{
    width: 500px;
    height:500px;
    border-radius: 50%;
}
section.informaion div.parts_info div.parts.infoo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: nowrap column;
}
section.informaion div.parts_info div.parts.infoo h1{
    font-size: 30px;
    color: var(--garay-9);
    margin-bottom: 30px;
    align-items: center;
}
section.informaion div.parts_info div.parts.infoo div.card_1{
    width: 80%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: nowrap column;
    line-height: 1.6;
    border-radius: 50px;
    text-align: center;
}
section.informaion div.parts_info div.parts.infoo div.card_1 div.icon h1{
    font-size: 80px;
    

}



section.laste_news{
    width: 100%;
    height: 100%;
    padding: 5% 0;
  background-color: var(--garay-2);
}

section.laste_news div.news{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 5%; */
    flex-flow: nowrap row;
    margin: 30px;
    

}
section.laste_news  h2{
    text-align: center;
    color:var(--garay-9);
}
section.laste_news div.news div.NEW_CARDS{
    padding: 10px;
    line-height: 1.6;
    flex-wrap: nowrap;
}

section.laste_news div.news div.NEW_CARDS div.image img{
    width: 300px;
    height: 200px;
    border-radius: 6px;
  
       

}

section.laste_news div.news div.NEW_CARDS h4{
    color: var(--garay-4);
    font-size: 14px;
    margin: 10px;
}
section.laste_news div.news div.NEW_CARDS p{
    color: var(--garay-5);
    padding: 10px 0;
}
section.laste_news div.news div.NEW_CARDS h1{
    color: var(--garay-8);
}

section.Contacte{
    width: 100%;
    height: 100%;
    padding: 5% 0;
    background-color: var(--garay-2);
}
section.Contacte h1{
    text-align: center;
    color: var(--garay-5);
    font-weight: 600;
    text-decoration: underline;
}
section.Contacte div.parts_conacte{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    flex-flow: nowrap row;

}

section.Contacte div.parts_conacte div.part{
    width: calc(95% / 2);
    margin: 10px;
}

section.Contacte div.parts_conacte div.part.C_image img{
    width: 600px;
    height: 600px;
    border-radius: 50%;
     
}

section.Contacte div.parts_conacte div.part.conacte{
    width: 300px;
    height: 400px;
    background-color: var(--garay-8);
    padding: 20px;
    line-height: 1.6;
    border-radius: 50px 100px 10px;
}

section.Contacte div.parts_conacte div.part.conacte form.form_conatcte{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap column;
    padding: 10px 0;

}
section.Contacte div.parts_conacte div.part.conacte form.form_conatcte label{
    width: 100%;
    padding: 10px;
    color: var(--garay-1);
    font-weight: 600;
    font-size: 20px;
    
}
section.Contacte div.parts_conacte div.part.conacte form.form_conatcte input{
    width: 80%;
    padding: 5px 8px;
    border-radius: 8px;
    border: 0px solid var(--garay-3);
    box-shadow: 0px 4px 6px rgb(0, 0, 0,0.2);
    text-align: start;
    color: var(--garay-3);
}
section.Contacte div.parts_conacte div.part.conacte form.form_conatcte div.submit{
    margin-top: 10px;
}
section.Contacte div.parts_conacte div.part.conacte form.form_conatcte div.submit button{
    padding: 8px 9px;
    border-radius: 8px 10px;
    border: none;
    background-color: var(--garay-3);
    color: var(--garay-9);
    font-size: 15px;
    font-weight: 600;
}
section.Contacte div.parts_conacte div.part.conacte form.form_conatcte div.submit button:hover{
    background-color: var(--geren-4);
    color: var(--garay-1);
    transition: ease-in-out 0.7s all;
    font-weight: 600;
}

footer{
    background-color: var(--garay-8);
    color: white;
    padding: 20px;
    text-align: center;

    
}

footer ul li a{
    color: white;
    padding: 10px;
    margin-top: 10px;
}